Initial Scope of Research
1- Does Internet access and tax revenue drive down corruption?
2- Internet usage has something to Carbon emissions?
3- Does Internet usage drives electricity consumption and corruption?

In [1]:
#Setup For Data Cleaning
import pandas as pd
import matplotlib as mp

#Read in the Data
df = pd.read_csv('world_bank_development_indicators.csv',parse_dates=True)
df['date'] =  pd.to_datetime(df['date'])

In [2]:
#Initial Data Exploration
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17272 entries, 0 to 17271
Data columns (total 50 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   country                                    17272 non-null  object
 1   date                                       17272 non-null  datetime64[ns]
 2   agricultural_land%                         14714 non-null  float64
 3   forest_land%                               8176 non-null   float64
 4   land_area                                  14930 non-null  float64
 5   avg_precipitation                          10086 non-null  float64
 6   trade_in_services%                         9195 non-null   float64
 7   control_of_corruption_estimate             4783 non-null   float64
 8   control_of_corruption_std                  4783 non-null   float64
 9   access_to_electricity%                     7348 non-null   float64
 10  renewvable_energy_consumption%             8076 non-null   float64
 11  electric_power_consumption                 7790 non-null   float64
 12  CO2_emisions                               7408 non-null   float64
 13  other_greenhouse_emisions                  7408 non-null   float64
 14  population_density                         14901 non-null  float64
 15  inflation_annual%                          10788 non-null  float64
 16  real_interest_rate                         4416 non-null   float64
 17  risk_premium_on_lending                    2370 non-null   float64
 18  research_and_development_expenditure%      2889 non-null   float64
 19  central_goverment_debt%                    2080 non-null   float64
 20  tax_revenue%                               5125 non-null   float64
 21  expense%                                   4769 non-null   float64
 22  goverment_effectiveness_estimate           4759 non-null   float64
 23  goverment_effectiveness_std                4759 non-null   float64
 24  human_capital_index                        601 non-null    float64
 25  doing_business                             189 non-null    float64
 26  time_to_get_operation_license              371 non-null    float64
 27  statistical_performance_indicators         1237 non-null   float64
 28  individuals_using_internet%                8044 non-null   float64
 29  logistic_performance_index                 1407 non-null   float64
 30  military_expenditure%                      10122 non-null  float64
 31  GDP_current_US                             13198 non-null  float64
 32  political_stability_estimate               4820 non-null   float64
 33  political_stability_std                    4820 non-null   float64
 34  rule_of_law_estimate                       4873 non-null   float64
 35  rule_of_law_std                            4873 non-null   float64
 36  regulatory_quality_estimate                4761 non-null   float64
 37  regulatory_quality_std                     4761 non-null   float64
 38  government_expenditure_on_education%       6107 non-null   float64
 39  government_health_expenditure%             4938 non-null   float64
 40  multidimensional_poverty_headcount_ratio%  455 non-null    float64
 41  gini_index                                 2108 non-null   float64
 42  birth_rate                                 16037 non-null  float64
 43  death_rate                                 16019 non-null  float64
 44  life_expectancy_at_birth                   15866 non-null  float64
 45  population                                 16665 non-null  float64
 46  rural_population                           16539 non-null  float64
 47  voice_and_accountability_estimate          4850 non-null   float64
 48  voice_and_accountability_std               4850 non-null   float64
 49  intentional_homicides                      4209 non-null   float64
dtypes: datetime64[ns](1), float64(48), object(1)
memory usage: 6.6+ MB

,date,agricultural_land%,forest_land%,land_area,avg_precipitation,trade_in_services%,control_of_corruption_estimate,control_of_corruption_std,access_to_electricity%,renewvable_energy_consumption%,...,multidimensional_poverty_headcount_ratio%,gini_index,birth_rate,death_rate,life_expectancy_at_birth,population,rural_population,voice_and_accountability_estimate,voice_and_accountability_std,intentional_homicides
count,17272,14714.000000,8176.000000,1.493000e+04,10086.000000,9195.000000,4783.000000,4783.000000,7348.000000,8076.000000,...,455.000000,2108.000000,16037.000000,16019.000000,15866.000000,1.666500e+04,1.653900e+04,4850.000000,4850.000000,4209.000000
mean,1991-09-11 13:11:41.991662848,36.945264,32.408397,5.078664e+06,1214.021416,20.998956,-0.024874,0.203572,80.758176,31.029558,...,27.058386,37.797249,28.203391,10.490354,64.254193,2.159737e+08,1.231026e+08,-0.021062,0.167144,8.035708
min,1960-01-01 00:00:00,0.262821,0.000000,2.027000e+00,18.100000,0.621025,-1.936706,0.114062,0.533899,0.000000,...,2.370000,20.700000,5.000000,0.795000,11.995000,2.646000e+03,0.000000e+00,-2.313395,0.102437,0.000000
25%,1976-01-01 00:00:00,20.454545,12.430556,2.164000e+04,591.000000,8.678157,-0.791694,0.147978,68.435427,5.065460,...,18.300000,31.200000,16.438000,6.976522,56.810602,9.940000e+05,4.295845e+05,-0.850328,0.126422,1.348194
50%,1992-01-01 00:00:00,37.470745,30.765419,2.419300e+05,1110.000000,13.456865,-0.253887,0.172218,98.290939,20.989980,...,24.800000,35.700000,27.065000,9.200000,66.776719,6.787419e+06,3.148533e+06,0.020768,0.142207,3.428468
75%,2008-01-01 00:00:00,50.737179,47.118947,1.444290e+06,1782.000000,24.705827,0.666176,0.227055,100.000000,53.904220,...,33.300000,43.200000,39.752000,12.441818,72.568000,4.641603e+07,2.035198e+07,0.884255,0.196929,9.402278
max,2023-01-01 00:00:00,93.440750,98.574551,1.299507e+08,3240.000000,327.166162,2.459118,0.942502,100.000000,98.340000,...,74.200000,65.800000,58.121000,103.534000,85.497561,7.950947e+09,3.435260e+09,1.800992,0.578548,138.773986
std,NaN,20.552401,23.355506,1.406167e+07,810.573031,23.260442,1.000047,0.087529,28.745226,29.858553,...,11.262910,8.835216,12.862546,5.358976,11.112156,7.102653e+08,4.087475e+08,0.998757,0.064188,12.026623

In [220]:
#List out columns for selection
df.columns

Index(['country', 'date', 'agricultural_land%', 'forest_land%', 'land_area',
       'avg_precipitation', 'trade_in_services%',
       'control_of_corruption_estimate', 'control_of_corruption_std',
       'access_to_electricity%', 'renewvable_energy_consumption%',
       'electric_power_consumption', 'CO2_emisions',
       'other_greenhouse_emisions', 'population_density', 'inflation_annual%',
       'real_interest_rate', 'risk_premium_on_lending',
       'research_and_development_expenditure%', 'central_goverment_debt%',
       'tax_revenue%', 'expense%', 'goverment_effectiveness_estimate',
       'goverment_effectiveness_std', 'human_capital_index', 'doing_business',
       'time_to_get_operation_license', 'statistical_performance_indicators',
       'individuals_using_internet%', 'logistic_performance_index',
       'military_expenditure%', 'GDP_current_US',
       'political_stability_estimate', 'political_stability_std',
       'rule_of_law_estimate', 'rule_of_law_std',
       'regulatory_quality_estimate', 'regulatory_quality_std',
       'government_expenditure_on_education%',
       'government_health_expenditure%',
       'multidimensional_poverty_headcount_ratio%', 'gini_index', 'birth_rate',
       'death_rate', 'life_expectancy_at_birth', 'population',
       'rural_population', 'voice_and_accountability_estimate',
       'voice_and_accountability_std', 'intentional_homicides'],
      dtype='object')

In [3]:
#Extract speicific columns for analysis
df_project = df[['date','country','population', 'individuals_using_internet%','tax_revenue%','electric_power_consumption','control_of_corruption_estimate','CO2_emisions',]]

In [4]:
#Check for missing values and drop them
df_clean = df_project.dropna()

In [6]:
#Final project dataframe for analysis
df_clean

,date,country,population,individuals_using_internet%,tax_revenue%,electric_power_consumption,control_of_corruption_estimate,CO2_emisions
228,1996-01-01,Albania,3168033.0,0.032197,8.861719,904.346640,-0.893903,1968.00
230,1998-01-01,Albania,3128530.0,0.065027,14.568944,734.849914,-0.992025,1804.55
234,2002-01-01,Albania,3051010.0,0.390081,16.484242,1578.165919,-0.845341,3761.90
235,2003-01-01,Albania,3039616.0,0.971900,17.196138,1469.264539,-0.853787,4137.40
236,2004-01-01,Albania,3026939.0,2.420388,17.965076,1797.525487,-0.723732,4322.30
...,...,...,...,...,...,...,...,...
17198,2014-01-01,Zambia,15737793.0,6.500000,15.761030,701.940863,-0.347683,4686.00
17257,2009-01-01,Zimbabwe,12679810.0,4.000000,9.196892,578.399834,-1.357875,7572.70
17258,2010-01-01,Zimbabwe,12839771.0,6.400000,17.434924,599.932818,-1.373287,9518.00
17259,2011-01-01,Zimbabwe,13025785.0,8.400000,17.928254,629.827684,-1.425627,11357.60
17260,2012-01-01,Zimbabwe,13265331.0,12.000000,17.835489,601.869640,-1.381803,11954.90

In [8]:
#Explore project dataframe initially
df_clean.describe()
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1419 entries, 228 to 17260
Data columns (total 8 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   date                            1419 non-null   datetime64[ns]
 1   country                         1419 non-null   object
 2   population                      1419 non-null   float64
 3   individuals_using_internet%     1419 non-null   float64
 4   tax_revenue%                    1419 non-null   float64
 5   electric_power_consumption      1419 non-null   float64
 6   control_of_corruption_estimate  1419 non-null   float64
 7   CO2_emisions                    1419 non-null   float64
dtypes: datetime64[ns](1), float64(6), object(1)
memory usage: 99.8+ KB

In [11]:
#DF analysis group by country
df_countries = df_clean.groupby('country').max().sort_values(by='individuals_using_internet%',ascending=False)

In [12]:
df_countries

,date,population,individuals_using_internet%,tax_revenue%,electric_power_consumption,control_of_corruption_estimate,CO2_emisions
country,,,,,,,
Iceland,2014-01-01,327386.0,98.160000,27.242993,54799.174708,2.327251,2382.97
Norway,2014-01-01,5137232.0,96.300000,28.798299,25424.103637,2.286828,40116.40
Denmark,2014-01-01,5643475.0,95.990000,36.500292,6824.745939,2.459118,73375.10
Sweden,2014-01-01,9696110.0,94.783600,29.858925,15709.429669,2.277121,63647.40
Luxembourg,2014-01-01,556319.0,94.670000,25.601177,16829.962541,2.153153,11912.90
...,...,...,...,...,...,...,...
Togo,2014-01-01,7288383.0,5.700000,13.885916,151.473928,-0.873771,2824.70
Kuwait,1998-01-01,1819544.0,3.052397,1.492443,14666.311999,0.562503,42133.60
Tajikistan,2004-01-01,6801204.0,0.077480,9.821024,2142.037986,-1.147746,2597.02
Pakistan,1998-01-01,145476106.0,0.043948,12.829094,312.965485,-1.080915,90190.30
Sudan,1998-01-01,25029144.0,0.004805,6.197163,54.096936,-1.119795,4767.34

In [24]:
#Global Analysis of Internet Usage agnostic of country for potential use
df_global = df_clean.drop(["country"],axis=1).groupby('date').mean()

In [25]:
df_global

,population,individuals_using_internet%,tax_revenue%,electric_power_consumption,control_of_corruption_estimate,CO2_emisions
date,,,,,,
1996-01-01,3.788892e+07,2.436650,17.275519,4521.760257,0.480026,183463.598219
1998-01-01,3.819945e+07,6.481552,16.953029,4547.716782,0.361377,176692.316500
2000-01-01,3.846834e+07,14.489218,18.023628,4965.601994,0.460393,217526.365403
2002-01-01,4.043046e+07,20.530497,16.954685,4546.126256,0.295532,189044.365854
2003-01-01,4.094711e+07,23.278345,16.952109,4557.401156,0.279563,191780.849880
2004-01-01,4.057071e+07,25.955842,17.309214,4583.805761,0.236551,192197.651310
2005-01-01,5.392858e+07,29.394407,18.152938,4534.369994,0.283749,261492.605714
2006-01-01,5.339823e+07,32.095762,18.865997,4655.442566,0.317715,267759.554235
2007-01-01,5.279769e+07,35.041203,19.191196,4738.684321,0.298827,272488.293333
2008-01-01,5.643284e+07,37.700710,18.499708,4808.910725,0.263196,277965.068000
2009-01-01,5.636289e+07,40.049936,16.959253,4560.950239,0.223000,269833.977500
2010-01-01,5.711753e+07,43.277998,16.781227,4729.941948,0.206268,282971.755516
2011-01-01,5.633736e+07,46.228123,16.904920,4725.186562,0.189402,286312.907724
2012-01-01,5.587498e+07,48.229655,16.817764,4645.660336,0.172022,280906.801520
2013-01-01,5.693614e+07,51.277622,16.936813,4698.398250,0.190434,289460.603455
2014-01-01,5.589207e+07,52.783979,16.832116,4505.951124,0.135999,278266.358132
2015-01-01,2.590920e+08,22.062743,10.753488,910.000000,-0.518548,489052.800000
2016-01-01,2.618502e+08,25.447354,10.336349,956.000000,-0.462464,483978.700000
2017-01-01,2.644989e+08,32.335806,9.877293,1021.000000,-0.304816,515395.700000
2018-01-01,2.670668e+08,39.904639,10.230143,1064.000000,-0.299460,568007.600000
2019-01-01,2.695829e+08,47.690649,9.751962,1084.000000,-0.473180,605290.600000